/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', Roboto, "Helvetica Neue", sans-serif; }

:root {
  --mdc-checkbox-selected-checkmark-color: #0f172a;
  --mdc-checkbox-selected-icon-color: #3F2B96;
  --mdc-checkbox-selected-hover-icon-color: #3F2B96;
  --mdc-checkbox-selected-focus-icon-color: #3F2B96;
  --mdc-outlined-text-field-focus-outline-color: #3F2B96;
  --mdc-outlined-text-field-focus-label-text-color: #3F2B96;
}
